*.txt
*.std
*.exe
*.meta
build/
resources/
test.cpp
test.py
.vscode/
ideeas/
*.tex
*classes/
bin/
*.data
benchmarks/vendor
__pycache__/
old_implementations/
original_zenodo/
benchmarks.zip
!CMakeLists.txt